*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

main{
    margin: 30px auto;
    max-width: 1000px;
}

main > *{
    margin-top: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 600;
}

.radius{
    border-radius: 20px;
}

/* header */
.home.logo img{
    width: 165px;
}

a{
    text-decoration: none;
}

nav li:hover{
    color: black;
}

nav li{
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    margin-top: 20px;
    color: lightgray;
    text-transform: uppercase;
}

/* section hero */
.hero{
    background-image: url(../img/banner.jpg);
    background-position: center;
    height: 500px;
}

.hero > div{
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 350px 0 40px 40px;
    color: white;
}

h1{
    font-size: 30px;
}

.hero p{
    font-size: 14px;
}

/* section articles */
.articles{
    background-color: mediumblue;
}

.articles header{
    height: 70px;
    background-color: lightskyblue;
    margin-bottom: 30px;
}

section > article{
    width: 20%;
    float:left;
    background-color: lightskyblue;
    height: 500px;
}

section > article:last-child{
    float:right;
}

section > article:nth-child(2){
    width: 54%;
    margin: 0 3% 30px;
}

/* footer */
footer{
    height: 50px;
    background-color: purple;
    margin: 15px auto;
    max-width: 1000px;
}