*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

main{
    margin: 30px auto;
    max-width: 1000px;
}

main > *{
    margin-top: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 600;
}

.grey{
    color: rgb(182, 182, 182);
}

.radius{
    border-radius: 20px;
}

.layover{
    background-color: rgba(0, 0, 0, 0.2);
}

/* header */
.home.logo img{
    width: 165px;
}

a{
    text-decoration: none;
}

nav li:hover{
    color: black;
}

nav li{
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    margin-top: 20px;
    color: rgb(182, 182, 182);
    text-transform: uppercase;
}

/* section hero */
.hero{
    background-image: url(../img/banner.jpg);
    background-position: center;
    height: 500px;
}

.hero > div{
    min-height: 100%;
    padding: 350px 0 40px 40px;
    color: white;
}

h1{
    font-size: 30px;
}

.hero p{
    font-size: 14px;
}

/* articles  header*/
.articles header{
    margin-bottom: 40px;
}

.articles>header h2{
    font-size: 35px;
    font-weight: 900;
}

.articles>header p{
    color: rgb(182, 182, 182);
}

/* section article */
.pic{
    height: 200px;
}

article *{
    margin-bottom: 15px;
}

.img1{
    background-image: url(../img/img-1.jpg);
    background-size: cover;
}

article p{
    font-size: 14px;
}

section > article{
    width: 20%;
    float:left;
    height: 500px;
    margin-bottom: 30px;
}

section > article:last-child{
    float:right;
}

section > article:nth-child(2){
    width: 54%;
    margin-left: 3%;
    margin-right: 3%;
}

/* footer */
footer{
    height: 50px;
    background-color: purple;
    margin: 15px auto;
    max-width: 1000px;
}